@model CourseManagement.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<div class="forms" style="margin-top:25px;">
    <h2 style="margin-top:25px;">Reset Password</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label style="margin-left: 30px;" for="NewPassword" class="col-md-12">Password:</label>
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-key"></i>
                        </span>
                        @Html.EditorFor(model => model.NewPassword)
                    </div>
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>

            <div class="form-group">
                <label style="margin-left: 30px;" for="ConfirmPassword" class="col-md-12">ConfirmPassword:</label>
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-key"></i>
                        </span>
                        @Html.EditorFor(model => model.ConfirmPassword)
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.ResetCode)
            </div>
            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
                if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        <strong>Success! </strong>@ViewBag.Message
                    </div>
                }
            }
            else if (ViewBag.Status != null)
            {
                <div class="alert alert-danger">
                    <strong>Error! </strong>@ViewBag.Message
                </div>
            }

            <div class="form-group" style="margin-left: 10%;">
                <div class="col-md-offset-2 col-md-10">
                    <input style="width: 60%;" type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>