@model CourseManagement.Models.Quiz

@if (Model != null)
{
    <table border="1" style="font-size: 15px; width: 90%; border: solid 1px #70a1ff;">
        <tr style="background: #70a1ff; color: #3742fa;">
            <th style="width: 40%;"><center>Name</center></th>
            <th><center>Duration</center></th>
            <th><center>Questions</center></th>
            <th style="width: 40%;"><center>Actions</center></th>
        </tr>
        <tr style="background: white;">
            <th><center><a href="#" style="text-decoration:none; font-size:16px; color:#20152c"><i class="fas fa-edit"></i> @Model.Name</a></center></th>
            <th><center>@Model.DurationInMinutes</center></th>
            <th><center>@ViewBag.QuestionsCount</center></th>
            <th>
                <center>
                    @if (Convert.ToBoolean(ViewBag.Status))
                    {
                        <a href="@Url.Action("QuestionsList", "Quiz", new { quiz_id = Model.QuizId })" class="btn btn-info">
                            Questions list
                        </a>
                        <a href="@Url.Action("ViewMembers", "Quiz", new { quiz_id = Model.QuizId })" class="btn btn-primary">
                            View members
                        </a>
                        <a href="@Url.Action("DeleteQuiz", "Quiz", new { quiz_id = Model.QuizId })" class="btn btn-danger">
                            Delete quiz
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("AttemptQuiz", "Quiz", new { quiz_id = Model.QuizId })" class="btn btn-success">
                            Start quiz
                        </a>
                    }
                </center>
            </th>
        </tr>
    </table>
}
else if (Convert.ToBoolean(ViewBag.Status))
{
    <p>This lesson has no questionaries. For adding questionaries go @Html.ActionLink("here.", "AddQuiz", new { id = Convert.ToInt32(ViewBag.TopicId) })</p>
}
else
{
    <p>
        This lesson has no questionaries.
    </p>
}